/* 0f3057
    00587a
    008891
    e7e7de
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
@keyframes dwan {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(3);
  }
}
@keyframes border {
  form {
    border: 0px solid aliceblue;
  }
  to {
    border: 2px solid aliceblue;
  }
}
@keyframes textshadow {
  from {
    text-shadow: 0 0 0 #fff;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(76, 113, 212), 0 0 70px rgb(76, 113, 212),
      0 0 80px rgb(76, 113, 212), 0 0 100px rgb(76, 113, 212),
      0 0 150px rgb(76, 113, 212);
  }
}
@keyframes width {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
/* @keyframes gradient {
  0% {
    background-image: radial-gradient(
        rgba(241, 39, 17, 0.69),
        rgba(245, 175, 25, 0.69)
      ),
      url("orange-nature.jpg");
  }
  50% {
    background-image: radial-gradient(
        rgba(241, 39, 17, 0.65),
        rgba(245, 175, 25, 0.65)
      ),
      url("orange-nature.jpg");
  }
  100% {
    background-image: radial-gradient(
        rgba(241, 39, 17, 0.6),
        rgba(245, 175, 25, 0.6)
      ),
      url("orange-nature.jpg");
  }
} */
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 65%;
  box-sizing: border-box;
  line-height: 1.7;
  padding: 0.5rem;
}
/* :not(img) {
  filter: invert(100%) hue-rotate(180deg);
} */
.relative {
  /* animation: gradient 3s; */
  position: relative;
  width: 80%;
  height: 97vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.6), rgba(67, 67, 67, 0.6)),
    url("/images/lap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.backfil-wrapper {
  position: absolute;
  top: 30%;
  /* overflow: hidden; */
  width: 100%;
}
.backfil {
  background-color: rgba(159, 79, 235, 0.4);
  width: 9rem;
  height: 9rem;
  border-radius: 25%;
  /* border-left: 8rem solid rgba(159, 79, 235, 0.4);
  border-top: 8rem solid transparent;
  border-bottom: 13.8rem solid transparent; */
}
.behind {
  animation: dwan 1.5s cubic-bezier(0.04, 0.8, 0.09, 1);
  transform-origin: left center;
  position: relative;
  /* font-family: "Josefin Slab", serif; */
  left: -2%;
  background-color: rgba(231, 231, 222, 0.6);
  z-index: 2;
  backdrop-filter: blur(1px);
  border-radius: 50%;
  transform: scale(3);
  transition: transform 0.5s;
  width: 9rem;
  height: 9rem;
  text-align: center;
  border: 1px solid black;
}
.welcome {
  font-size: 0.5rem;
}
/* icon-arrow-right-circle */
.behind_text {
  position: absolute;
  text-shadow: 0 0 20px aliceblue;
  width: 75%;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  font-size: 0.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  /* font-weight:; */
}
.arrow_right-svg {
  width: 1rem;
  height: 1rem;
  fill: black;
  border-radius: 50%;
  transition: all 0.6s;
  cursor: pointer;
}
.arrow_right-svg:hover {
  background-color: black;
  fill: white;
}

/* .behind:hover {
  transform: scale(3.01);
} */
.text {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  /* writing-mode: vertical-lr; */
}
.blur {
  background-color: rgba(240, 248, 255, 0.4);
  height: 2rem;
  width: 2rem;
  z-index: 1;
  backdrop-filter: blur(1px);
}
.blur-square {
  position: absolute;
  top: -2%;
  right: -2%;
  border-radius: 5px;
}
.blur-circ {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(60, 89, 146, 0.671);
  left: -2%;
  bottom: -2%;
  z-index: 2;
}
.text-1 {
  transition: transform 0.5s;
  position: relative;
  height: 7rem;
  width: 25rem;
  background-color: #313131;
  color: aliceblue;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px double aliceblue; */
}
.t-1 {
  transform-origin: left top;
  animation: width 2.5s 0.1s cubic-bezier(0.04, 0.8, 0.09, 1);
  background-image: url("/images/top.gif");
  background-position: center;
  background-size: cover;
}

.t-2 {
  transform-origin: left top;
  animation: width 2.5s 0.2s cubic-bezier(0.04, 0.8, 0.09, 1);
  background-image: url("/images/middle.gif");
  background-position: center;
  background-size: cover;
}
.t-3 {
  transform-origin: left top;
  animation: width 2.5s 0.3s cubic-bezier(0.04, 0.8, 0.09, 1);
  background-image: url("/images/bottom.gif");
  background-position: center;
  background-size: cover;
}
.text-1:hover {
  transform: rotate(-1deg);
}
.neon {
  animation: textshadow 3s cubic-bezier(0.04, 0.8, 0.09, 1);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px rgb(76, 113, 212), 0 0 70px rgb(76, 113, 212),
    0 0 80px rgb(76, 113, 212), 0 0 100px rgb(76, 113, 212),
    0 0 150px rgb(76, 113, 212);
  border: 2px solid white;
}
/* .neon {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px rgb(76, 113, 212), 0 0 70px rgb(187, 100, 100),
    0 0 80px rgb(187, 100, 100), 0 0 90px rgb(187, 100, 100),
    0 0 100px rgb(187, 100, 100);
} */
.lines {
  text-align: center;
}
nav {
  position: relative;
  top: 2rem;
  left: 2rem;
}
.nav_checkbox {
  position: fixed;
  top: 0.7rem;
  z-index: 200;
  display: none;
}
.nav_label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 1.4rem;
  width: 3.8rem;

  z-index: 200;
}
.nav_icon {
  display: inline-block;
  position: relative;
  z-index: 200;
  width: 2.2rem;
  height: 0.2rem;
  border-radius: 5rem;
  background-color: aliceblue;
  transition: all 0.4s;
}
.nav_icon::after {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0.7rem;
  z-index: 200;
  background-color: aliceblue;
  display: inline-block;
  width: 3rem;
  height: 0.2rem;
  border-radius: 50rem;
}
.nav_background {
  position: absolute;
  left: 0.7rem;
  z-index: 199;
  width: 0rem;
  height: 0.25rem;
  border-radius: 5rem;
  background-color: rgb(1, 69, 129);
  transition: transform 0.6s cubic-bezier(0.04, 0.8, 0.09, 1) ease-in-out;
}
.nav_checkbox:checked ~ .nav_background {
  background-color: white;
  width: 2.2rem;
  transform: scale(80);
}
.nav_checkbox:checked + .nav_label .nav_icon {
  top: 0;
  transform: rotate(-135deg);
  background-color: rgb(1, 69, 129);
}
.nav_checkbox:checked + .nav_label .nav_icon::after {
  top: 0;
  left: 0;
  width: 2.2rem;
  transform: rotate(90deg);
  background-color: rgb(1, 69, 129);
}
.nav_checkbox:checked ~ .nav_list {
  opacity: 1;
}
.nav_list {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  z-index: 200;
  text-align: center;
  padding: 0.2rem 0.5rem;
  opacity: 0;
  margin: 2rem auto;
}
.nav_list-item {
  list-style: none;
  font-size: 1.4rem;
  color: rgb(1, 69, 129);
  cursor: pointer;
}
.nav_list-item a {
  text-decoration: none;
  color: currentColor;
}

/* utilities */
::selection {
  background-color: white;
}

/* margins*/

.margin-top-small {
  margin-top: 0.3rem;
}

/* displays */
.in-bl {
  display: inline-block;
}
